<header class="header">
    <div class="header__container">
        <nav class="header__navigation">
            <a href="/" class="header__link">Feed</a>
        </nav>
        <div class="controlPanel" id="header__controlPanel"></div>
    </div>
</header>